body {
  display: flex;
  width: 100%;
  margin: 0 auto;
}

.aside-player, .aside-computer {
  width: 20%;
  padding: 2rem;
  background: lightblue;
  height: 100vh;
  box-shadow: inset -.75em -1em 1em rgb(63, 63, 129);
}

.aside-computer {
  box-shadow: inset .75em -1em 1em rgb(63, 63, 129);
}

button {
  background-color: darkblue;
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 1rem 2rem;
  margin-top: 1rem;
}

.operations-section {
  display: flex;
  justify-content: center;
  gap: 12rem;
  margin-top: 15rem;
}

.math-problem-card {
  border: lightblue 1px solid;
  padding: 9rem;
  box-shadow: 5px 5px 5px lightblue;
}

.operations-section p {
  margin: 0;
  font-weight: bold;
  font-size: 24px;
}

.operation-line {
  margin: 0;
}

main {
  width: 60%;
  text-align: center;
}

.hidden {
  display: none;
}