body {
  display: flex;
  width: 100%;
  margin: 0 auto;
}

aside {
  width: 20%;
  padding: 2rem;
  background: lightblue;
  height: 100vh;
}

button {
  background-color: darkblue;
  color: white;
  font-weight: bold;
  padding: 1rem 2rem;
  margin-top: 1rem;
}

main {
  width: 60%;
  text-align: center;
}